<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Firebase Authentication</title>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <div id="app">
        <h1>Vue School - Firebase Authentication</h1>
        <div v-if="authUser">
            <h2>Signed In As: {{ authUser.email }}</h2>
            <button @click="signout">Signout</button>
        </div>

        <div v-else>
            <form @submit.prevent="register">
                <h2>Register</h2>
                <input type="email" v-model="email" placeholder="Type your email">
                <input type="password" v-model="password" placeholder="Pick your password">
                <button>Register</button>
            </form>

            <form @submit.prevent="signIn">
                <h2>SignIn</h2>
                <input type="email" v-model="email" placeholder="Type your email">
                <input type="password" v-model="password" placeholder="Pick your password">
                <button>SignIn</button>
            </form>
        </div>
    </div>

    <script>
        // Initialize Firebase
        const config = {
            apiKey: "AIzaSyBqmcdKL_6-sEzvSaOrO8Re-PpR3P6UJ44",
            authDomain: "vueschool-firebase-f8939.firebaseapp.com",
            databaseURL: "https://vueschool-firebase-f8939.firebaseio.com",
            projectId: "vueschool-firebase-f8939",
            storageBucket: "vueschool-firebase-f8939.appspot.com",
            messagingSenderId: "850972803553",
            appId: "1:850972803553:web:7a9220c912ca3885"
        }
        firebase.initializeApp(config)

        new Vue({
            el: '#app',
            data: {
                email: '',
                password: '',
                authUser: null
            },


        methods: {
            register () {
                firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
                    .catch(error => alert('😓' + error.message))
            },
            signout () {
                firebase.auth().signOut()
            },
            signIn () {
                firebase.auth().signInWithEmailAndPassword(this.email, this.password)
                    .catch(error => alert('😓' + error.message))
            }
        },


            created () {
                firebase.auth().onAuthStateChanged(user => { this.authUser = user })
            }
        })
    </script>

</body>

</html>